.mine1{
    background-color:darkslategrey;
    height: 250px;
    width: 100%;
    padding: 50px 20px;
}

.mini1-core{
    /* background-color:gold; */
    /* width: 100%; */
    height: 100%;
    /* text-align: center; */
}

.round_icon{
    width: 150px;
    height: 150px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nickName{
    float: left;
    margin-left: 10px;
    margin-top: 40px;
    /* background-color: white; */
    /* width: 30%; */
    text-align: center;

    
}

.turnMine{
    float: left;
    margin-left: 30px;
    margin-top: 60px;
    font-size: 30px;
    color: grey;
}

.mine2{
    margin: 10px 0px;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    height: 100px;
}

.mine2-unit{
   float: left;
   margin:10px 15px;
   text-align: center;
}

.mine3{
    margin: 40px 0px;
    /* border-bottom: solid 1px gray; */
    text-align: left;
    font-size: 25px;
    clear: both;
}

.mine3-block-warp{
    width: 100%;
    border-bottom:solid 1px gray;
    border-top:solid 1px gray;
    height: 50px;
}

.mine3-block{
    display: block;
    margin: 10px 20px;
    /* float: left;   */
    width: 90%;
}