
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>index</title>

        <link href="./../statics/css/bootstrap.min.css" rel="stylesheet">
        <link href="./../statics/mycss/index.css" rel="stylesheet">
        
         <!-- jQuery -->
         <script src="./../statics/js/jquery.min.js"></script>
         <!-- Bootstrap JavaScript -->
         <script src="./../statics/js/bootstrap.min.js"></script>
         

    </head>
    <body>
        <!-- .container （固定宽度）或 .container-fluid （100% 宽度） -->
        <div id="box" class="container">
           
            <div class="i-header">
                <!-- <span class="glyphicon glyphicon-search" aria-hidden="true"></span> -->
                <span class="text-center">{{msg}}</span>
                <!-- <span class="glyphicon glyphicon-shopping-cart"></span> -->
            </div>
            <div class="i-body">
                <p>轮播</p>
                <P>秒杀专场</P>
            </div>
            <div class="i-footer">
                底部
            </div>
        </div>
    </body>
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./../statics/myjs/index.js"></script>
</html>
