
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>个人中心</title>

        <link href="./../statics/mycss/mine.css" rel="stylesheet">

        <link href="./../statics/css/bootstrap/v4/bootstrap.css" rel="stylesheet">
         <script src="./../statics/js/jquery.min.js"></script>
         <script src="./../statics/js/bootstrap/v4/bootstrap.js"></script>

        <!-- 轮播效果 -->
         <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
         
          <!-- vue -->
        <script src="./../statics/js/vue.js"></script>
        

    </head>
    <body>
        <!-- .container （固定宽度）或 .container-fluid （100% 宽度） style最后渲染，优先级最高-->
        <div id="box" class="container-fluid i-container" style="padding-left: 0px;padding-right: 0px;">
           
           
          </div>
    </body>
    <script src="./../statics/myjs/mine.js"></script>
</html>
