
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>我的订单</title>

        <link href="./../statics/mycss/product.css" rel="stylesheet">

        <link href="./../statics/css/bootstrap/v4/bootstrap.css" rel="stylesheet">
         <script src="./../statics/js/jquery.min.js"></script>
         <script src="./../statics/js/bootstrap/v4/bootstrap.js"></script>

        <script src="./../statics/js/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        

    </head>
    <body>
        <!-- .container （固定宽度）或 .container-fluid （100% 宽度） style最后渲染，优先级最高-->
        <div id="box" class="container-fluid i-container" style="padding-left: 0px;padding-right: 0px;">
           
            <ul>
                <li>
                    <div>
                        <div>
                            订单创建时间
                        </div>
                        <div>
                            订单状态
                        </div>
                        <ul>
                            <li>
                                <P>商品名称</P>
                                <P>商品价格</P>
                            </li>
                            <li>
                                <P>商品名称</P>
                                <P>商品价格</P>
                            </li>
                        </ul>
                        <div>
                            <p>总价：200元</p>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </body>
    <script src="./../statics/myjs/common.js"></script>
    <script src="./../statics/myjs/product.js"></script>
</html>
