
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>商品详情</title>

        <link href="./../statics/mycss/product.css" rel="stylesheet">

        <link href="./../statics/css/bootstrap/v4/bootstrap.css" rel="stylesheet">
         <script src="./../statics/js/jquery.min.js"></script>
         <script src="./../statics/js/bootstrap/v4/bootstrap.js"></script>

        <script src="./../statics/js/vue.js"></script>
        

    </head>
    <body>
        <!-- .container （固定宽度）或 .container-fluid （100% 宽度） style最后渲染，优先级最高-->
        <div id="box" class="container-fluid i-container" style="padding-left: 0px;padding-right: 0px;">
           
            <div class="i-header">
                
            </div>

            <div class="i-body">

            </div>

            <div class="i-footer">

              <div class="i-footer-part">
                  <div class="glyphicon glyphicon-home" style="top:30%;">购物车</div>
              </div>

              <div class="i-footer-part">
                 <div style="top:30%;background-color: orange;height: 100%;text-align: center;">加入购物车</div>
              </div>


              <div class="i-footer-part">
                <div style="top:30%;background-color:green;">立即购买</div>
              </div>

            </div> 

          </div>
    </body>
    <script src="./../statics/myjs/product.js"></script>
</html>
